body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

body.dark-mode {
  background-color: #333;
  color: #f4f4f9;
}

.pomodoro-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px #0000001a;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

body.dark-mode .pomodoro-container {
  background-color: #444;
  color: #f4f4f9;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e74c3c;
}

#timer {
  font-size: 4rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body.dark-mode button {
  background-color: #555;
  color: #f4f4f9;
}

button:hover {
  background-color: #c0392b;
}

button:active {
  transform: scale(0.98);
}

#reset-btn {
  background-color: #95a5a6;
}

body.dark-mode #reset-btn {
  background-color: #777;
}

#reset-btn:hover {
  background-color: #7f8c8d;
}
